.card{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
}

.card--img{
    width: 160px;
    height: 205px;
    margin-right: 10px;
    border-radius: 7px;
}

.card .location{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h2{
    margin-top: 0;
}
